{% extends "base.html" %}
{% block head %}
    <title>
        Contact Us
    </title>
    <link rel="stylesheet" href="/static/main.css">
{% endblock %}
{% block content %}        
    <h1 class="Title">
        Yasin Akbarnejad
    </h1>
    <img src="/static/yasin.jpg" style="height: 100px; padding-top: 10px;">

    <h4>
        Phone Number : 09106110477
    </h4>
    <h4>
        Email Address :
        <a class="link" href="mailto:workyasin1385@gmail.com">workyasin1385@gmail.com</a>
    </h4>
{% endblock %}