{% extends "base.html" %}

{% block head %}        
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/css/persian-datepicker.min.css">

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/persian-date@1.1.0/dist/persian-date.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/persian-datepicker@1.2.0/dist/js/persian-datepicker.min.js"></script>
    <title>
        Finance Manager
    </title>
{% endblock %}
{% block content %}
    <div class="Title">
        <h1>
            DASHBOARD
        </h1>
    </div>
    {% if user %}
    <div class="Dash">
        <h4>
            First name : {{user.first}}
        </h4>
        <h4>
            Last Name : {{user.last}}
        </h4>
        <h4>
            Net worth : {{user.liquid}}
        </h4>
    </div>
    {%endif%}
    <div class="main">
    <div class="Expense">
    <form action="/expense" method="post">
        <label for="num">Choose Amount:</label><br>
        <input id="num" type="number" name="amount" placeholder="in Toman" required><br>
        <label for="catagory">Choose a catagory</label><br>
        <select name="catagory" id="catagory">
            <option value="internet">Internet</option>
            <option value="transportation">Transportation</option>
            {% if user %}
            {% for category in user.Ecatagories %}
            <option value="{{category}}">{{ category}}</option>
            {%endfor%}
            {%endif%}
        </select><br>
        <script>
            $(document).ready(function () {
                $(".date").pDatepicker({
                    format: "YYYY/MM/DD",
                    autoClose: true
                });
            });
        </script>

        <input type="text" class="date" name="date" autocomplete="off"><br>
        <button type="submit" id="income">
            Add expense
        </button>
    </form>

    </div>
    <div class="Income">
    <form action="/income" method="post">
        <label for="num">Choose Amount:</label><br>
        <input id="num" type="number" name="amount" placeholder="in Toman" required><br>
        <label for="catagory">Choose a catagory</label><br>
        <select id="catagory" name="catagory">
            <option value="dad allowance">Dad allowance</option>
            <option value="mom gift">Mom gift</option>
            <option value="salary">Salary</option>
            {% if user %}
            {% for category in user.Icatagories %}
            <option value="{{category}}">{{ category}}</option>
            {%endfor%}
            {%endif%}
        </select><br>


        <input type="text" class="date" name="date" autocomplete="off"><br>
        <button type="submit" id="income">
            Add Income
        </button>
    </form>
    </div>
    </div>
    {% if error%}
    <h1 style="color: red;">
        {{error}}
    </h1>
    {%endif%}
{% endblock %}
