{% extends "base.html" %}

{% block head %}        
    <link rel="stylesheet" href="/static/main.css">
    <title>
        Finance Report
    </title>
{% endblock %}
{% block content %}
    <form>
        <label>Month:</label>
        <select>
            <option value="1">farvardin</option>
            <option value="2">Ordibehesht</option>
            <option value="3">January</option>
            <option value="4">January</option>
            <option value="5">January</option>
            <option value="6">January</option>
            <option value="7">January</option>
            <option value="8">January</option>
            <option value="9">January</option>
            <option value="10">January</option>
            <option value="11">January</option>
            <option value="12">January</option>
        </select>
    </form>
{% endblock %}