{% extends "base.html" %}

{% block head %}        
    <link rel="stylesheet" href="/static/report.css">
    <title>
        Finance Report
    </title>
{% endblock %}
{% block content %}
<div class="selection">
    <div class="selector">
    <form action="/select" method="post">
        <span>Select your report type:</span>    
        <span><label for="monthly">Monthly</label> <input type="radio" id="monthly" name="type" value="1"></span>
        <span><label for="annual">Annual</label> <input type="radio" id="annual" name="type" value="2"></span>
        <span><label for="net_worth">Net worth</label> <input type="radio" id="net_worth" name="type" value="3"></span>
        <input type="submit" value="Submit" id="button">
    </form>
    </div>
    {% if type==1 %}
    <div class="month">
    <form>
        <label for="months">Month:</label>
        <select id="months" name="month">
            <option value="1">farvardin</option>
            <option value="2">Ordibehesht</option>
            <option value="3">Khordad</option>
            <option value="4">Tir</option>
            <option value="5">Mordad</option>
            <option value="6">Shahrivar</option>
            <option value="7">Mehr</option>
            <option value="8">Aban</option>
            <option value="9">Azar</option>
            <option value="10">Day</option>
            <option value="11">Bahman</option>
            <option value="12">Esfand</option>
        </select>
        <input type="submit" value="Submit" id="button">

    </form>
    </div>
    {% elif type==2 %}
    <form>
        <select>
            <option value="0">all</option>
            <option value="1">dad allowance</option>
            <option value="2">mom gift</option>
            <option value="3">internet</option>
            <output value="4"></output>
        </select>
    </form>
    {%elif type==3 %}
    <form>
        <script>
            $(document).ready(function () {
                $("#date").pDatepicker({
                    format: "YYYY/MM/DD",
                    autoClose: true
                });
            });
        </script>

        <input type="text" id="date" name="date" autocomplete="off">
    </form>
    {% endif %}
</div>
{% endblock %}